# Files and directories to ignore in Docker build context

# Ignore vendor directory
vendor/

# Ignore node_modules directory
node_modules/

# Ignore logs
logs/

# Ignore any sensitive or temporary files
.env
.env.example
.dockerignore

# Ignore any local development files
*.log
*.swp

# Ignore any version control files and directories
.git
.gitignore
.svn
